*{
  margin:0;
  padding: 0;
}
html, body {
  height:100%;
}
body {
  display:flex;
  flex-direction:column;
}
.navbar.navbar{
  margin-bottom:0;
}
#navLogo{
  width:100%;
}
.navbar-header{
  width:57.5px;
  height:57.5px;
}


/* map popups */
div.leaflet-popup-content-wrapper {
  border-radius: 5px;
}
.leaflet-popup .leaflet-popup-content {
  margin:5px;
}
.neighbor-popup {
  pointer-events:none;
}
